---
---

<div class="background">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
</div>

<style>
   @keyframes move {
      100% {
         transform: translate3d(0, 0, 1px) rotate(360deg);
      }
   }

   .background {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: #010b15;
      overflow: hidden;
   }

   .background span {
      width: 20vmin;
      height: 20vmin;
      border-radius: 20vmin;
      backface-visibility: hidden;
      position: absolute;
      animation: move;
      animation-duration: 10;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
   }

   .background span:nth-child(0) {
      color: #2ee5d8;
      top: 29%;
      left: 47%;
      animation-duration: 45s;
      animation-delay: -72s;
      transform-origin: 12vw -12vh;
      box-shadow: 40vmin 0 5.061016623952764vmin currentColor;
   }
   .background span:nth-child(1) {
      color: #2ee5d8;
      top: 18%;
      left: 67%;
      animation-duration: 383s;
      animation-delay: -188s;
      transform-origin: -18vw 6vh;
      box-shadow: -40vmin 0 5.376336796291891vmin currentColor;
   }
   .background span:nth-child(2) {
      color: #2ee5d8;
      top: 20%;
      left: 85%;
      animation-duration: 166s;
      animation-delay: -348s;
      transform-origin: -9vw 12vh;
      box-shadow: 40vmin 0 5.705615671140908vmin currentColor;
   }
   .background span:nth-child(3) {
      color: #062e51;
      top: 15%;
      left: 39%;
      animation-duration: 311s;
      animation-delay: -96s;
      transform-origin: 8vw -21vh;
      box-shadow: -40vmin 0 5.365710247817136vmin currentColor;
   }
   .background span:nth-child(4) {
      color: #062e51;
      top: 49%;
      left: 99%;
      animation-duration: 79s;
      animation-delay: -344s;
      transform-origin: -5vw 4vh;
      box-shadow: 40vmin 0 5.498753374780035vmin currentColor;
   }
   .background span:nth-child(5) {
      color: #2ee5d8;
      top: 18%;
      left: 45%;
      animation-duration: 15s;
      animation-delay: -394s;
      transform-origin: -15vw 6vh;
      box-shadow: 40vmin 0 5.195294333515713vmin currentColor;
   }
   .background span:nth-child(6) {
      color: #062e51;
      top: 67%;
      left: 7%;
      animation-duration: 399s;
      animation-delay: -24s;
      transform-origin: -11vw 20vh;
      box-shadow: -40vmin 0 5.978785318499353vmin currentColor;
   }
   .background span:nth-child(7) {
      color: #062e51;
      top: 54%;
      left: 21%;
      animation-duration: 123s;
      animation-delay: -270s;
      transform-origin: 16vw 22vh;
      box-shadow: 40vmin 0 5.217699061622888vmin currentColor;
   }
   .background span:nth-child(8) {
      color: #062e51;
      top: 46%;
      left: 75%;
      animation-duration: 194s;
      animation-delay: -324s;
      transform-origin: 16vw -19vh;
      box-shadow: -40vmin 0 5.600884948985719vmin currentColor;
   }
   .background span:nth-child(9) {
      color: #2ee5d8;
      top: 42%;
      left: 81%;
      animation-duration: 116s;
      animation-delay: -120s;
      transform-origin: 20vw 9vh;
      box-shadow: -40vmin 0 5.099465526997772vmin currentColor;
   }
   .background span:nth-child(10) {
      color: #062e51;
      top: 98%;
      left: 41%;
      animation-duration: 184s;
      animation-delay: -1s;
      transform-origin: -16vw 19vh;
      box-shadow: 40vmin 0 5.178176147369125vmin currentColor;
   }
   .background span:nth-child(11) {
      color: #2ee5d8;
      top: 77%;
      left: 98%;
      animation-duration: 290s;
      animation-delay: -354s;
      transform-origin: 9vw 23vh;
      box-shadow: 40vmin 0 5.234174299129126vmin currentColor;
   }
   .background span:nth-child(12) {
      color: #2ee5d8;
      top: 69%;
      left: 43%;
      animation-duration: 104s;
      animation-delay: -339s;
      transform-origin: -23vw -18vh;
      box-shadow: 40vmin 0 5.350761087304061vmin currentColor;
   }
   .background span:nth-child(13) {
      color: #062e51;
      top: 69%;
      left: 57%;
      animation-duration: 212s;
      animation-delay: -64s;
      transform-origin: 11vw 3vh;
      box-shadow: 40vmin 0 5.17487395662466vmin currentColor;
   }
   .background span:nth-child(14) {
      color: #2ee5d8;
      top: 47%;
      left: 65%;
      animation-duration: 150s;
      animation-delay: -257s;
      transform-origin: -11vw 12vh;
      box-shadow: 40vmin 0 5.113954413626127vmin currentColor;
   }
   .background span:nth-child(15) {
      color: #2ee5d8;
      top: 12%;
      left: 80%;
      animation-duration: 226s;
      animation-delay: -391s;
      transform-origin: 12vw 3vh;
      box-shadow: -40vmin 0 5.179172172821093vmin currentColor;
   }
   .background span:nth-child(16) {
      color: #062e51;
      top: 33%;
      left: 32%;
      animation-duration: 142s;
      animation-delay: -12s;
      transform-origin: 24vw -19vh;
      box-shadow: 40vmin 0 5.553579618012878vmin currentColor;
   }
   .background span:nth-child(17) {
      color: #2ee5d8;
      top: 21%;
      left: 47%;
      animation-duration: 125s;
      animation-delay: -116s;
      transform-origin: -21vw 19vh;
      box-shadow: -40vmin 0 5.60860411389563vmin currentColor;
   }
   .background span:nth-child(18) {
      color: #062e51;
      top: 76%;
      left: 71%;
      animation-duration: 59s;
      animation-delay: -180s;
      transform-origin: 2vw -19vh;
      box-shadow: 40vmin 0 5.370665405012023vmin currentColor;
   }
   .background span:nth-child(19) {
      color: #2ee5d8;
      top: 17%;
      left: 93%;
      animation-duration: 398s;
      animation-delay: -174s;
      transform-origin: 19vw 9vh;
      box-shadow: 40vmin 0 5.803436461307259vmin currentColor;
   }
</style>
