---
import parques from "@images/parques.svg";
import calles from "@images/calles.svg";
import aguaLuz from "@images/agua-luz.svg";
import palmeras from "@images/palmeras.svg";
---

<section class="py-10 px-6 lg:py-24 lg:px-14 relative">
   <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1921" height="66" fill="none" class="w-full absolute left-0 top-0 sh">
      <path stroke="#2EE2D8" stroke-width="2" d="M1921 16.75H35.079V65L1 1"/>
    </svg> -->
   
   <div class="lg:max-w-5xl xl:max-w-7xl mx-auto w-full relative">
      <!-- <div class="absolute h-full bg-repeat-y bg-center w-32 top-0 left-16 bg-[url('/src/images/logos-cyan.svg')]"></div> -->
         
      <div class="lg:flex items-center justify-between lg:gap-x-6">
         <div
            class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-4/5 mx-auto text-center lg:w-2/5 lg:text-left"
         >
            <h2
               class="text-3xl md:text-4xl lg:text-5xl font-bold text-white mb-6"
            >
               Características del <span class="text-cyan-ak">proyecto</span>
            </h2>
            <p class="text-gray-50 text-lg">
               Nuestros proyectos tienen una innovadora distribución que te
               permitirá disfrutar de mayor luz natural y comodidad
            </p>
         </div>
         <div class="flex items-center justify-center lg:justify-end flex-wrap lg:ml-[8.33333337%]">
            <div
               class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-5/12 lg:w-1/2"
            >
               <article
                  class="border-cyan-ak duration-300 rounded shadow-card transition"
               >
                  <div class="p-3 max-w-full relative">
                     <div class="p-3 rounded">
                        <figure class="mb-4 text-center">
                           <img
                              loading="lazy"
                              src={parques}
                              width="75"
                              height="85"
                              alt="Parques recreativos con juegos para niños"
                              class="mx-auto"
                           />
                        </figure>
                        <figcaption
                           class="text-center text-gray-50 text-lg leading-snug"
                        >
                           Parques recreativos para niños
                        </figcaption>
                     </div>
                  </div>
               </article>
            </div>
            <div
               class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-5/12 lg:w-1/2"
            >
               <article
                  class="border-cyan-ak duration-300 rounded shadow-card transition"
               >
                  <div class="p-3 max-w-full relative">
                     <div class="p-3 rounded">
                        <figure class="mb-4 text-center">
                           <img
                              loading="lazy"
                              src={palmeras}
                              width="75"
                              height="85"
                              alt="Alameda de palmeras"
                              class="mx-auto"
                           />
                        </figure>
                        <figcaption
                           class="text-center text-gray-50 text-lg leading-snug"
                        >
                           Alameda de palmeras
                        </figcaption>
                     </div>
                  </div>
               </article>
            </div>
            <div
               class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-5/12 lg:w-1/2"
            >
               <article
                  class="border-cyan-ak duration-300 rounded shadow-card transition"
               >
                  <div class="p-3 max-w-full relative">
                     <div class="p-3 rounded">
                        <figure class="mb-4 text-center">
                           <img
                              loading="lazy"
                              src={aguaLuz}
                              width="75"
                              height="85"
                              alt="Servicios básicos: Agua y Luz"
                              class="mx-auto"
                           />
                        </figure>
                        <figcaption
                           class="text-center text-gray-50 text-lg leading-snug"
                        >
                           Servicios básicos: Agua y Luz
                        </figcaption>
                     </div>
                  </div>
               </article>
            </div>
            <div
               class="block basis-0 flex-shrink flex-grow p-2 md:flex-none md:w-5/12 lg:w-1/2"
            >
               <article
                  class="border-cyan-ak duration-300 rounded shadow-card transition"
               >
                  <div class="p-3 max-w-full relative">
                     <div class="p-3 rounded">
                        <figure class="mb-4 text-center">
                           <img
                              loading="lazy"
                              src={calles}
                              width="75"
                              height="85"
                              alt="Calles afirmadas y amplias"
                              class="mx-auto"
                           />
                        </figure>
                        <figcaption
                           class="text-center text-gray-50 text-lg leading-snug"
                        >
                           Calles afirmadas y amplias
                        </figcaption>
                     </div>
                  </div>
               </article>
            </div>
         </div>
      </div>
   </div>
</section>

<style>
</style>
