---
---

<section class="py-8 px-6 lg:py-24 lg:px-14 overflow-x-hidden">
   <div class="lg:max-w-5xl xl:max-w-7xl relative mx-auto">
      <div class="lg:flex items-center justify-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-3xl md:text-4xl lg:text-5xl font-bold text-white mb-6"
            >
               Financia tu lote <span class="text-cyan-ak">hoy</span>
            </h2>
         </div>
      </div>

      <div class="md:flex items-center justify-center">
         <div
            class="block basis-0 flex-shrink flex-grow p-2 text-center md:flex-none md:w-2/3 lg:w-1/2 space-y-6"
         >
            <div class="shadow-[rgba(97,_112,_216,_0.34)_0px_0px_190px]">
               <div
                  class="relative overflow-x-auto sm:rounded-lg "
               >
                  <table class="w-full text-center text-gray-400">
                     <thead class="text-lg uppercase bg-gray-700 text-cyan-ak">
                        <tr>
                           <th scope="col" class="px-6 py-4"> Cuotas en 3 a침os</th>
                           <th scope="col" class="px-6 py-4"> Cuotas en 5 a침os</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr class="border-b bg-gray-900 border-gray-700">
                           <th
                              scope="row"
                              class="text-xl md:text-3xl px-6 py-6 font-bold whitespace-nowrap text-white"
                           >
                              S/ 749.00
                           </th>
                           <th
                              scope="row"
                              class="text-xl md:text-3xl px-6 py-6 font-bold whitespace-nowrap text-white"
                           >
                              S/ 449.00
                           </th>
                        </tr>
                     </tbody>
                  </table>
               </div>
               
            </div>
            <div class="flex flex-wrap items-center">
               <a
                  href="#contacto"
                  id="financia"
                  class="btn btn-cyan bg-cyan-ak font-bold text-azul items-center justify-center gap-x-2 w-full rounded-full"
               >
                  M치s informaci칩n
               </a>
            </div>
         </div>
      </div>
   </div>
</section>

