---

---

<section class="py-12 px-6 lg:py-24 lg:px-14">
   <div class="lg:max-w-5xl xl:max-w-7xl relative mx-auto">
      <div class="lg:flex items-center justify-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-3xl md:text-4xl lg:text-5xl font-bold text-white mb-6"
            >
               Conoce el <span class="text-cyan-ak">proyecto</span>
            </h2>
         </div>
      </div>
   </div>
</section>