---
import documentos from "@images/documentos.svg";
---

<section class="py-12 px-6 lg:py-24 lg:px-14">
   <div class="lg:max-w-5xl xl:max-w-7xl relative mx-auto w-full">
      <div class="lg:flex items-center justify-center">
         <div class="block basis-0 flex-shrink flex-grow p-2 text-center">
            <h2
               class="text-3xl md:text-4xl lg:text-5xl font-bold text-white mb-5"
            >
               Este <span class="text-cyan-ak">proyecto</span> cuenta con:
            </h2>
         </div>
      </div>

      <div class="lg:flex flex-wrap items-center justify-between">
         <div
            class="block basis-0 flex-shrink flex-grow p-2 text-center md:flex-none md:w-3/4 md:mx-auto lg:w-1/2 xl:w-2/6"
         >
            <article
               class="rounded md:shadow-xl shadow-azul border-cyan-ak transition duration-300"
            >
               <div
                  class="flex items-center justify-center p-3 lg:flex-col lg:p-6 gap-x-4 rounded"
               >
                  <figure class="text-center lg:mb-4">
                     <svg
                        width="74"
                        height="74"
                        viewBox="0 0 103 103"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <path
                           d="M66.0978 97.6514C66.9535 98.92 67.7933 100.123 68.6078 101.25H10.5C5.69093 101.25 1.75 97.3091 1.75 92.5V10.5C1.75 5.69093 5.69093 1.75 10.5 1.75H92.5C97.3091 1.75 101.25 5.69093 101.25 10.5V39.75H41.25H39.75V41.25V92.5V94H41.25H63.7241C64.5135 95.2881 65.3047 96.5054 66.0978 97.6514ZM32.5 10.5V9H31H10.5H9V10.5V61.75V63.25H10.5H31H32.5V61.75V10.5ZM10.5 70.5H9V72V92.5V94H10.5H31H32.5V92.5V72V70.5H31H10.5ZM39.75 31V32.5H41.25H92.5H94V31V10.5V9H92.5H41.25H39.75V10.5V31ZM84.8125 100.452C84.5842 100.181 84.3255 99.8717 84.0408 99.527C82.8723 98.1122 81.2682 96.104 79.5252 93.7303C79.0607 93.0598 78.5474 92.3411 78.0419 91.6334C75.6641 88.2433 73.2312 84.3381 71.3978 80.428C69.5518 76.4911 68.375 72.6773 68.375 69.4375C68.375 60.5284 75.9034 53 84.8125 53C87.2804 53 89.6726 53.605 91.8484 54.6448C97.3626 57.3337 101.25 63.0316 101.25 69.4375C101.25 73.0333 99.7981 77.3171 97.6162 81.6745C95.4511 85.9986 92.6464 90.2415 90.111 93.7151C88.3637 96.0954 86.7552 98.1092 85.5842 99.527C85.2995 99.8717 85.0408 100.181 84.8125 100.452ZM77.1625 69.95C77.1625 73.7715 80.3169 77.6 84.8125 77.6C87.0301 77.6 89.0702 76.6543 90.4857 75.2388C91.8687 73.8557 92.7608 71.9038 92.4613 69.8268C92.4218 67.8477 91.4372 65.9972 90.1013 64.6612C88.7376 63.2976 86.8378 62.3 84.8125 62.3C80.991 62.3 77.1625 65.4545 77.1625 69.95Z"
                           stroke="#2EE5D8"
                           stroke-width="3"></path>
                     </svg>
                  </figure>
                  <figcaption
                     class="text-center text-gray-50 text-lg leading-snug"
                  >
                     Lotes desde 90m<sup>2</sup>, 120m<sup>2</sup>, 250m<sup
                        >2</sup
                     >
                  </figcaption>
               </div>
            </article>
         </div>
         <div
            class="block basis-0 flex-shrink flex-grow p-2 text-center md:flex-none md:w-3/4 md:mx-auto lg:w-1/2 xl:w-2/6"
         >
            <article
               class="rounded md:shadow-xl shadow-azul border-cyan-ak transition duration-300 hover:shadow-2xl"
            >
               <div
                  class="flex items-center justify-center p-3 lg:flex-col lg:p-6 gap-x-4 rounded"
               >
                  <figure class="text-center lg:mb-4">
                     <img
                        loading="lazy"
                        src={documentos}
                        width="75"
                        height="83"
                        alt="Parques recreativos con juegos para niños"
                        class="mx-auto"
                     />
                  </figure>
                  <figcaption
                     class="text-center text-gray-50 text-lg leading-snug"
                  >
                     Documentación en regla: minuta y escritura pública
                  </figcaption>
               </div>
            </article>
         </div>
         <div
            class="block basis-0 flex-shrink flex-grow p-2 text-center md:flex-none md:w-3/4 md:mx-auto lg:w-1/2 xl:w-2/6"
         >
            <article
               class="rounded md:shadow-xl shadow-azul border-cyan-ak transition duration-300 hover:shadow-2xl"
            >
               <div
                  class="flex items-center justify-center p-3 lg:flex-col lg:p-6 gap-x-4 rounded"
               >
                  <figure class="text-center lg:mb-4">
                     <svg
                        width="80"
                        height="80"
                        viewBox="0 0 96 96"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                     >
                        <path
                           d="M16 32V16M16 16H32M16 16L36 36M80 32V16M80 16H64M80 16L60 36M16 64V80M16 80H32M16 80L36 60M80 80L60 60M80 80V64M80 80H64"
                           stroke="#2EE5D8"
                           stroke-width="5"
                           stroke-linecap="round"
                           stroke-linejoin="round"></path>
                     </svg>
                  </figure>
                  <figcaption
                     class="text-center text-gray-50 text-lg leading-snug"
                  >
                     Zona de gran expansión inmobiliaria
                  </figcaption>
               </div>
            </article>
         </div>
      </div>
   </div>
</section>
